.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #eaedff;
  padding: 24px;
  height: 320px;
  width: 320px;
  border-radius: 8px;
  text-align: center;
}

.closeBtn{
    background: brown;
    color: rgb(255, 255, 255);
    padding: 10px 30 px;
    border-radius: 16 px;
}
