.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #fff;
  padding: 24px;
  width: 320px;
  border-radius: 8px;
  text-align: center;
}

.closeBtn {
  background: red;
  color: white;
  padding: 10px 30px;
  border-radius: 16px;
  border: 1px solid gainsboro;
}
